@model turisticki_aranzmani.Models.ResidenceItemModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    <h4>Dodavanje nove smestajne jedinice</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.ResidenceID, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.id, @Type = "hidden"} })

    <div class="form-group">
        @Html.LabelFor(model => model.UnitName)

        @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaxGuests)

        @Html.EditorFor(model => model.MaxGuests, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MaxGuests, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AllowPets)

        <div class="checkbox">
            @Html.EditorFor(model => model.AllowPets)
            @Html.ValidationMessageFor(model => model.AllowPets, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)

        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dodajte novu smestajnu jedinicu" class="btn btn-primary btn-block w-50 mx-auto" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
