@model IEnumerable<turisticki_aranzmani.Models.ResidenceModel>

@using (Html.BeginForm("Search", "Residence", new { area = "" }, FormMethod.Get))
{
    <div class="row my-3">
            @Html.Label("Naziv")
            @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="pool">Ima bazen</label>
            <input class="form-check" type="checkbox" name="HasPool" id="pool"  @if (ViewBag.HasPoolChecked) {<text>checked</text>}/>
        </div>
        <div class="col-md-3">
            <label for="spa">Ima spa centar</label>
            <input class="form-check"  id ="spa" type="checkbox" name="HasSpa"  @if (ViewBag.HasSpaChecked) {<text>checked</text>} />

        </div>
        <div class="col-md-3">
            <label for="dis">Prilagodjeno za osobe sa invaliditetom</label>
            <input class="form-check" id="dis" type="checkbox" name="DisabilityApproved"  @if (ViewBag.DisabilityApprovedChecked) {<text>checked</text>}/>

        </div>
        <div class="col-md-3">
            <label for="wifi">Ima Wifi</label>
            <input class="form-check"  id ="wifi "type="checkbox" name="HasWifi"  @if (ViewBag.HasWifiChecked){<text>checked</text>} />

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("Sortiranje")
            @Html.DropDownList("Sort", (SelectList)@ViewBag.sortList, new { @class = "form-control" })

        </div>
    </div>
    <input type="submit" class="btn btn-outline-success btn-block w-50 mx-auto mt-3" value="Pretrazi" />
}

<div class="mt-5">
    <p>
        @Html.RouteLink("Dodajte novi smestaj", "Residence/Create", new { area = "" })

    </p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuildingType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StarRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasPool)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasSpa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisabilityApproved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasWifi)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StarRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasPool)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasSpa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisabilityApproved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasWifi)
                    </td>
                    
                    <td>
                        @Html.RouteLink("Izmeni", "Residence/Edit/", new { id = item.ID }) |
                        @Html.RouteLink("Smestajne jedinice", "ResidenceItem/ListResidenceUnits/", new { id = item.ID }) |
                        @Html.RouteLink("Ukloni", "Residence/Delete/", new { id = item.ID, role = Session["role"].ToString() })
                    </td>
                </tr>
            }
    </div>

    </table>
</div>