@model IEnumerable<turisticki_aranzmani.Models.UserModel>


<div class="container mt-3">
    <h5 class="text-center">Pretraga korisnika</h5>
    @using (Html.BeginForm("Search", "User", new { area = "" }, FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.Label("Ime")
                @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-6">
                @Html.Label("Prezime")
                @Html.Editor("LastName", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               
                @foreach (SelectListItem item in (SelectList)@ViewBag.userRoles)
                {
            <div class="checkbox">
                @*@if (ViewBag.userRoles.Contains(item.Value))*@
                @*{<text> checked </text>}*@
                <label>
                    <input type="checkbox" name="Role" value="@item.Value"   @if (ViewBag.checkedRoles.Contains(item.Value)) {<text>checked</text> }/> @item.Text
                </label>
            </div>
                    }
                </div>
                <div class="col-md-6">
                    @Html.Label("Sortiranje")
                    @Html.DropDownList("Sort", (SelectList)@ViewBag.sortList, new {@class = "form-control"})

                </div>
            </div>
            <input type="submit" class="btn btn-outline-success btn-block w-50 mx-auto mt-3" value="Pretrazi" />
        }
</div>

<h3 class="mt-5">Pregled korisnika</h3>
<p>
    @Html.ActionLink("Dodavanje novog korisnika", "Create")
</p>
<div class="table table-responsive">
    <table class=" table-bordered w-100">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.RouteLink("Ukloni", "User/Delete", new { username = item.Username })
                </td>
            </tr>
        }
    </table>
</div>
