@model dynamic

@{
    ViewBag.Title = Model.Name;
}


<div class="mt-5">
    <h4>Detalji o Aranzmanu: @Model.Name</h4>
    <hr />

    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="arrangement_image_details " src="@Url.Content("~/Content/arrangement_images/"+Model.ImagePath)" />
        </div>

        <div class="col-md-4">
            <span>Izdavac : <strong>@Model.Username</strong><br /></span>
            <span>Tip prevoza: <strong>@Model.RideTypeName</strong> <br></span>
            <span>Tip aranzmana: <strong>@Model.ArrangementTypeName</strong><br></span>
            <span>Lokacija: <strong>@Model.Location</strong><br></span>
            <span>Datum i vreme polaska: <strong>@Model.FormattedDateStart u @Model.FormattedTimeStarting</strong> <br></span>
            <span>Datum povratka: <strong>@Model.FormattedDateEnd</strong><br></span>

            <span>Smestaj: <strong>@Model.ResidenceName</strong><br></span>
            <span> <strong>Maksimalan broj gostiju: @Model.MaxCustomers</strong><br></span>
        </div>
        <div class="col-md-4 d-flex align-items-center flex-column">
            @if (Model.DateEnd.CompareTo(DateTime.Now) == 1)
            {
                if (Session["username"] != null)
                {
                    using (Html.BeginRouteForm("Reservation/Create", FormMethod.Post, new
                    {
                        @class = "container-fluid"
                    }))
                    {
                        <h5 class="text-center my-3">Dostupni smestaji</h5>
                        @Html.DropDownList("ResidenceUnit", (SelectList)Model.ResidenceItems, new { @class = "form-control", @id = "residenceUnitSelect" })
                        <div class="mb-2 mt-4 container-fluid" id="unitDetails">
                            <h5 class="text-center">Detalji o smestaju</h5>
                            <div>
                                <p>Maksimalan broj gostiju: <strong id="maxGuests"></strong></p>
                                <p>Dozvoljeni ljubimci: <strong id="allowPets"></strong></p>
                                <p>Cena: <strong id="price"></strong></p>
                            </div>
                        </div>
                        <div class="  my-3 w-100">
                            <button class="btn btn-primary btn-block" type="submit">Rezervisi</button>
                        </div>
                    }
                }
                else
                {
                    <h3 class="align-middle text-center">Morate biti ulogovani kako biste mogli da kreirate rezervaciju</h3>
                }
            }
            else
            {
                <h4 class="align-middle text-center">Ovaj aranzman je istekao i ne mogu se rezervisati smestaji za njega</h4>

            }
        </div>

    </div>
    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#map" role="tab" aria-controls="home" aria-selected="true">Mesto okupljanja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home">Opis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Program</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Komentari</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#personal_comment" role="tab" aria-controls="contact" aria-selected="false">Licni komentar</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active " id="map" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container mt-5">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="d-flex">
                            <h6>
                                @Model.GroupingPlace.Longitute,
                                @Model.GroupingPlace.Latitude,
                                @Model.GroupingPlace.Street,
                                @Model.GroupingPlace.City,
                                @Model.GroupingPlace.ZipCode.
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <h5>Polazak u @Model.TimeStarting.ToString("H:mm")</h5>
                    </div>
                </div>
                @MyMapComponent.AddMap(50, 50, Convert.ToDouble(Model.GroupingPlace.Longitute), Convert.ToDouble(Model.GroupingPlace.Latitude), 18)
            </div>
        </div>
        <div class="tab-pane fade mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
            <span>Opis aranzmana: @Model.Description<br></span>

        </div>
        <div class="tab-pane fade mt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <span>Program putovanja: @Model.Programme<br></span>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container mt-5">
                <h5 class="text-center">Komentari</h5>
                <div>
                    @foreach (var review in Model.Reviews) { 
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <span>@review.Username</span><br />
                                        <span>@review.Grade / 5</span>
                                    </div>
                                    <p>@review.DateCreated.ToString("dd/M/yyyy")</p>

                                </div>
                            </div>
                            <div class="card-body">
                                @review.Comment
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="personal_comment" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container mt-5">
                <h5 class="text-center">Licni komentar</h5>
                @if (Model.CanReview && !Model.HasReview)
                {


                    using (@Html.BeginForm("LeaveReview", "ArrangementComment"))
                    {
                        <div class="form-group">
                            @Html.Label("Ocena")
                            @Html.Editor("Grade", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @max = "5" } })
                        </div>
                        <div class="form-group">
                            @Html.Label("Komentar")
                            @Html.TextArea("Comment", new { @class = "form-control" })
                        </div>
                        @Html.Editor("ArrangementID", new { htmlAttributes = new { @class = "form-control", @type = "hidden", @Value = Model.ID } })
                        <input type="submit" class=" btn btn-primary btn-block w-50 mx-auto" value="Oceni" />
                    }
                }
                else if (Model.CanReview && Model.HasReview)
                {
                    using (@Html.BeginForm("EditReview", "ArrangementComment"))
                    {
                        <div class="form-group">
                            @Html.Label("Ocena")
                            @Html.Editor("Grade", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @max = "5", @Value = Model.Comment.Grade } })
                        </div>
                        <div class="form-group">
                            @Html.Label("Komentar")
                            @Html.TextArea("Comment",(String)@Model.Comment.Comment, new { @class = "form-control",@value = Model.Comment.Comment })
                        </div>
                        @Html.Editor("ReviewID", new { htmlAttributes = new { @class = "form-control", @type = "hidden", @Value = Model.Comment.ID } })
                        <input type="submit" class=" btn btn-primary btn-block w-50 mx-auto" value="Izmeni ocenu" />
                    }
                }
                else
                {
                    if (Session["username"] == null)
                    {
                        <h6 class="text-center">Morate biti ulogovani kako biste mogli da ocenite aranzman</h6>
                    }
                    if (Session["username"] != null && !Model.CanReview)
                    {
                        <h6 class="text-center">Trenutno ne mozete da ocenite ovaj aranzman. Ukoliko imate rezervaciju na njega, sacekajte da se vratite.</h6>
                    }
                }

            </div>
        </div>

    </div>



</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(function () {
        let id = $("#residenceUnitSelect").val()
        $.ajax({
            url: `/getResidenceItemDetails/${id}`,
            type: "GET",
            dataType: "json",
            success: function (response) {
                $("#maxGuests").text(response.MaxGuests)
                $("#allowPets").text((response.AllowPets) ? "da" : "ne")
                $("#price").text(response.Price + ".00 din")
            }
        })
    })
    $("#residenceUnitSelect").change(function () {
        let id = $(event.target).val()
        $.ajax({
            url: `/getResidenceItemDetails/${id}`,
            type: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                $("#maxGuests").text(response.MaxGuests)
                $("#allowPets").text((response.AllowPets) ? "da" : "ne")
                $("#price").text(response.Price + ".00 din")
            }
        })
    })

</script>