@model IEnumerable<dynamic>

<p class=" mt-5">
    @Html.ActionLink("Dodajte novi aranzman", "Create")
</p>
<div class="container mt-5">
    <h3 class="text-center mb-3">Prikaz aranzmana</h3>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="card mt-2">
                <div class="card-body row align-items-center">
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="@Url.Content("~/Content/arrangement_images/" + item.ImagePath)" />

                    </div>
                    <div class=" col-md-6 d-flex flex-column">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-column">
                                @if (Session["role"].Equals("admin"))
                                {
                                    <span><b>Vlasnik: @item.Username</b></span>
                                }
                                <span>Naziv: <strong>@item.Name</strong></span>
                                <span>Tip:<strong> @item.getArrangementType</strong></span>
                                <span>Prevoz:<strong> @item.getRideName</strong></span>
                                <span>
                                    Datum polaska:<strong> @item.FormattedDateStart</strong>
                                </span>
                                <span>Datum povratka:<strong> @item.FormattedDateEnd</strong></span>
                            </div>
                            <div class="col-md-6 d-flex flex-column text-right">
                                <span>Mesto okupljanja: <strong> @item.GroupingPlace</strong></span>
                                <span>Vreme polaska: <strong>@item.FormattedTimeStarting</strong></span>
                                <span>Maksimalan broj gostiju:<strong> @item.MaxCustomers.ToString()</strong></span>
                                <span><strong>@item.Residence.Name @if (item.Residence.BuildingType.Equals("hotel")) {<br /><span>(@item.Residence.StarRating Zvezdica)</span> }</strong></span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-4">
                        @Html.RouteLink("Ukloni","Arrangement/Delete/",new {id = item.ID, role = Session["role"].ToString()}, new {@class = "btn btn-block btn-danger"})
                        @if (Session["role"].Equals("seller"))
                        {
                            @Html.RouteLink("Izmeni", "Arrangement/Edit/",new{role = Session["role"].ToString(), id = item.ID}, new {@class = "btn btn-warning btn-block" })
                        }
                    </div>
                </div>
                    <div class="d-flex w-100 justify-content-around p-3" >
                        <div class="form-check">
                            <input disabled checked="@item.Residence.HasPool" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Ima bazen
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" disabled type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" checked="@item.Residence.HasWifi" for="defaultCheck1">
                                Ima WiFi
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" disabled checked="@item.Residence.HasSpa" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Spa centar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" disabled checked="@item.Residence.DisabilityApproved" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Pogodno za osobe sa invaliditetom
                            </label>
                        </div>
                    </div>
            </div>
        }
    }
    else
    {
        <h1 class="text-center">¯\_(ツ)_/¯</h1>
        <h3 class="text-center">Ups...Izgleda da nemate ni jedan kreiran aranzman. Kreirajte ga klikom na link ispod.</h3>
        @Html.RouteLink("Kreiraj aranzman","Arrangement/Create",new { area = "" }, new {@class = "btn btn-lg btn-primary btn-block p-3 mt-5" })
    }

</div>