@model IEnumerable<dynamic>

<p>
        @Html.ActionLink("Create New", "Create")
    </p>
<div class="container mt-5">
    <h3 class="text-center mb-3">Prikaz aranzmana</h3>
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-md-3">
                    <img class="img-thumbnail" src="@Url.Content("~/Content/arrangement_images/"+item.ImagePath)" />

                </div>
                <div class=" col-md-6 d-flex flex-column">
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column">
                            @if (Session["role"].Equals("admin"))
                            {
                            <span><b>Vlasnik: @item.Username</b></span>
                            }
                            <span>Naziv: <strong>@item.Name</strong></span>
                            <span>Tip:<strong> @item.getArrangementType</strong></span>
                            <span>Prevoz:<strong> @item.getRideName</strong></span>
                            <span>
                                Datum polaska:<strong> @item.FormattedDateStart</strong>
                            </span>
                            <span>Datum povratka:<strong> @item.FormattedDateEnd</strong></span>
                        </div>
                        <div class="col-md-6 d-flex flex-column text-right">
                            <span>Mesto okupljanja: <strong> @item.GroupingPlace</strong></span>
                            <span>Vreme polaska: <strong>@item.FormattedTimeStarting</strong></span>
                            <span>Maksimalan broj gostiju:<strong> @item.MaxCustomers.ToString()</strong></span>
                            <span><strong>@item.ResidenceID.ToString()</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-4">
                    <button class="btn btn-block btn-danger">Ukloni</button>
                    <button class="btn btn-warning btn-block">Izmeni</button>
                </div>
            </div>
        </div>




        @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
        @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
        @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@


    }

</div>